<%- layout("/layouts/boilerplate")%>
<body>
  <div class="row">
    <div class="col-8 offset-2">
      <br />
      <h2 style="color: #fe424d; font-weight: bold" class="mb-3">
        Create New Listing
      </h2>
      <form
        action="/listings"
        method="POST"
        novalidate
        class="needs-validation"
      >
        <div class="mb-3">
          <label for="title" class="form-label">Title :</label>
          <input
            required
            class="form-control"
            type="text"
            name="listing[title]"
          />
        </div>

        <div class="mb-3">
          <label for="description" class="form-label">Description :</label>
          <textarea
            required
            class="form-control"
            type="text"
            name="listing[description]"
            cols="30"
            rows="5"
          ></textarea>
        </div>

        <div class="mb-3">
          <label for="image" class="form-label">Enter Image URL/Link :</label>
          <input class="form-control" type="text" name="listing[image]" />
        </div>

        <div class="row">
          <div class="mb-3 col-md-4">
            <label for="price" class="form-label">Price :</label>
            <input
              required
              class="form-control"
              type="number"
              name="listing[price]"
            />
          </div>

          <div class="mb-3 col-md-8">
            <label for="country" class="form-label">Country :</label>
            <input
              required
              class="form-control"
              type="text"
              name="listing[country]"
            />
          </div>
        </div>

        <div class="mb-3">
          <label for="location" class="form-label">Location :</label>
          <input
            required
            class="form-control"
            type="text"
            name="listing[location]"
          />
        </div>

        <button
          style="background-color: #fe424d; color: white; border: none"
          type="submit"
          class="btn btn-dark mb-3"
        >
          Submit
        </button>
      </form>
    </div>
  </div>
</body>
